<h1 class="text-center">Quotes</h1>
<!-- Form display -->
<div class="container">
  <div class="">
    <app-quote-form></app-quote-form>
  </div>
</div>

<!-- quote display -->
<div class="container">
  <div *ngFor="let quote of quotes; let i=index">

    <div class="card border-danger mb-3" style="max-width: 24rem;">
      <div class="card-header">Quote</div>
      <div class="card-body text-dark">
        <h2 card-text>
          "{{quote.quote}}"
        </h2>
          
          <app-quote-details [quote]='quote'></app-quote-details>
        
      </div>
    </div>
  </div>
</div>