<h1 class="text-center">Quotes</h1>
<!-- Form display -->
<div class="container">
  <div class="">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
</div>

<!-- quote display -->
<div class="container">
  <div *ngFor="let quote of quotes; let i=index">

    <div class="card border-danger mb-3 " style="max-width: 24rem;">
      <div class="card-header">Quote</div>
      <div class="card-body text-dark">
        <h2 card-text>
          "{{quote.quote}}"
        </h2>

        <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>

      </div>
      <div class="card-footer">
        <button (click)='upvote(i)' type="button" class="btn btn-outline-danger">Up-vote</button>
        <button (click)='downvote(i)' type="button" class="btn btn-outline-danger">Down-vote</button>
      </div>
    </div>
  </div>
</div>